<div class="col-sm-12 text-center bootstrap-welcome">
  <h1>WELCOME TO FELLOWSHIP OF GRACE CHURCH</h1>
  <h2>PLEASE TELL US ABOUT YOURSELF</h2>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= render 'form' %>
  </div>
</div>